{% include 'partials/admin/header.twig' %}

{% include 'partials/admin/home.twig' %}

{% block content_admin %}
{% endblock %}

{% include 'partials/admin/footer.twig' %}

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="../../vendor/adminLTE/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../vendor/adminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../vendor/adminLTE/dist/js/adminlte.min.js"></script>

</body>
</html>

